
.landing {
	min-height: 100%;
}
.landing h1,h2 {
	font-family: 'MYRIADPROBOLDCOND', 'Helvetica', 'Arial';
}
.landing h1.hidden-desktop,h2.hidden-desktop {
	font-size: 50px;
}
.landing h1.visible-desktop {
	font-size: 100px;
}
.landing h2.visible-desktop {
	font-size: 80px;
}
.landing.language-bar {
	font-size: 50px;
	font-family: 'MYRIADPROBOLDCOND', 'Helvetica', 'Arial';
}
.landing.language-bar ul {
	list-style: none outside none;
}
.landing.language-bar li {
	padding-top: 20px;
}


small {
	font-size: small;
	color: gray;
}